extends layout

block title
  h1 AIManager
  p(style='font-size:30px;') Demo UI 



block navigation
  p
  p
  hr
  p
  p Home
  p  
  b
  a(href='/') Home
  p
  p
  hr
  p
  p Endpoint
  p
  a(href='/demo_doc') Create Events and Log Anomalies
  p
  a(href='/demo_doc') Create Events
  p
  a(href='/demo_doc') Create Log Anomalies
  p
  p 
  hr
  p
  p Configuration
  p
  a(href='/config') Configuration
  p 
  hr
  p
  p About
  p
  a(href='/about') About



