

extends bootstrap


block content
  p(style='font-size:30px;') CP4WAIOPS AIManager Demo UI
  p
    | A Simple way to generate Events and Log Anomalies for CP4WAIOPS.
  p 
  p 
  p 
  p(style='font-size:50px;') 🚀 Create Live Events and Log Anomalies 
  p(style='font-size:20px;') by using the buttons below
  hr
  a.btn.btn-danger.btn-lg(href='/demo' role='button') Create Events and Log Anomalies
  p

  a.btn.btn-warning.btn-lg(href='/demo_event' role='button') Create Events
  p
  a.btn.btn-warning.btn-lg(href='/demo_log' role='button') Create Log Anomalies
  p
  hr